html,
body {
  height: 100%;
}

/* Identificador general para etiqueta body en html */
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

/* el identificador .form-signin representa una clase */
.form-signin {
  width: 100%;
  max-width: 330px;
  /* padding y margin agregan espacios dentro y fuera del contenedor respectivamente */
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  /* Position relative indica la posicion relativa al contenedor padre */
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
    /* z index indica que tiene orden 2 en la profundidad del documento html, donde 1 sera el frente, y 2 esta detras */
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  /* border bottom right radius da una curvatura a una esquina de un elemento html */
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
